{% extends "layout.html" %}

{% set title = 'Home' %}
{% set page = 'home' %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Hello World</h1>
        <p class="lead">Don't forget to read <code>readme.md</code> :D</p>
        <h3>Edit From nunjucks file here bro ates lagi deh</h3>
        <ul class="list-unstyled">
            <li>Bootstrap v d4</li>
            <li>jQuery v1.11.1</li>
        </ul>

        <a href="example.html">Click</a>
    </div>
</div>
{% endblock content %}